@font-face {
  font-family: 'nasalization';
  src: url("font/nasalization-rg.ttf"); }

header {
  position: sticky;
  top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
  backdrop-filter: blur(4px); }

.iconoactivo {
  color: #381b46; }

.inicioabreviado {
  display: none; }

nav ul {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem; }
  nav ul li {
    display: inline-block;
    margin: 0.5rem;
    font-size: 1.2rem; }
  nav ul a {
    text-decoration: none;
    color: white;
    transition: 0.9s; }
    nav ul a:hover {
      color: #381b46; }
    nav ul a::after {
      content: "";
      background-color: #381b46;
      width: 100%;
      height: 3px;
      position: absolute;
      top: 100%;
      left: 0;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.7s; }

.pages {
  transition: 0.9s; }

@media (max-width: 480px) {
  header {
    justify-content: center; }
  .logo {
    display: none; }
  .inicioabreviado {
    text-align: center; }
  nav ul {
    position: relative; }
  .logogrande {
    display: flex; }
  .iniciochico {
    display: none; }
  .inicio {
    display: flex; } }

.footer {
  color: white;
  font-size: 1rem; }

.fab {
  color: white; }

.bodyIndex {
  background-image: url(../img/inicio.jpg);
  text-align: center; }
  .bodyIndex .logogrande {
    width: 30%;
    margin: -2vh auto -5vh;
    cursor: pointer; }
    .bodyIndex .logogrande:hover {
      opacity: 0.5; }
  .bodyIndex .subtitulo {
    margin-top: 5vh; }
  .bodyIndex .juego {
    display: flex; }
  .bodyIndex .form {
    width: 70%;
    margin: 0rem auto 15vh;
    padding: 0rem 1rem;
    text-align: center; }
    .bodyIndex .form input {
      color: #810082; }
  .bodyIndex .desliza {
    margin: 0px 20px 20px 20px; }

.quienessomos {
  margin: auto;
  padding: 0vh 35vh 10vh 35vh;
  text-align: center; }
  .quienessomos a {
    color: white; }
    .quienessomos a:hover {
      color: rgba(248, 248, 255, 0.801); }
    .quienessomos a:visited {
      color: #ee8967; }

.imgzoom:hover .imginicio {
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

.gridinicio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas: "img__in2 img__in3 img__in4 img__in1 img__in5" "img__in6 img__in7 img__in8 img__in9 img__in13" "img__in10 img__in11 img__in12 img__in17 img__in21" "img__in14 img__in15 img__in16 img__in22 img__in23" "img__in18 img__in19 img__in20 img__in24 img__in25"; }

.img__in2 {
  grid-area: img__in2; }

.img__in3 {
  grid-area: img__in3; }

.img__in4 {
  grid-area: img__in4; }

.img__in6 {
  grid-area: img__in6; }

.img__in7 {
  grid-area: img__in7; }

.img__in8 {
  grid-area: img__in8; }

.img__in10 {
  grid-area: img__in10; }

.img__in11 {
  grid-area: img__in11; }

.img__in12 {
  grid-area: img__in12; }

.img__in14 {
  grid-area: img__in14; }

.img__in15 {
  grid-area: img__in15; }

.img__in16 {
  grid-area: img__in16; }

.img__in18 {
  grid-area: img__in18; }

.img__in19 {
  grid-area: img__in19; }

.img__in20 {
  grid-area: img__in20; }

.img__in1 {
  grid-area: img__in1; }

.img__in5 {
  grid-area: img__in5; }

.img__in9 {
  grid-area: img__in9; }

.img__in13 {
  grid-area: img__in13; }

.img__in17 {
  grid-area: img__in17; }

.img__in21 {
  grid-area: img__in21; }

.img__in22 {
  grid-area: img__in22; }

.img__in23 {
  grid-area: img__in23; }

.img__in24 {
  grid-area: img__in24; }

.img__in25 {
  grid-area: img__in25; }

.imginicio {
  width: 100%; }

@media (max-width: 1024px) {
  .gridinicio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "img__in1 img__in2 img__in3 img__in4" "img__in5 img__in6 img__in7 img__in8" "img__in9 img__in10 img__in11 img__in12" "img__in13 img__in14 img__in15 img__in16" "img__in17 img__in18 img__in19 img__in20" "img__in21 img__in22 img__in23 img__in24" "img__in25 . . ."; }
  .img__in1 {
    grid-area: img__in1; }
  .img__in2 {
    grid-area: img__in2; }
  .img__in3 {
    grid-area: img__in3; }
  .img__in4 {
    grid-area: img__in4; }
  .img__in5 {
    grid-area: img__in5; }
  .img__in6 {
    grid-area: img__in6; }
  .img__in7 {
    grid-area: img__in7; }
  .img__in8 {
    grid-area: img__in8; }
  .img__in9 {
    grid-area: img__in9; }
  .img__in10 {
    grid-area: img__in10; }
  .img__in11 {
    grid-area: img__in11; }
  .img__in12 {
    grid-area: img__in12; }
  .img__in13 {
    grid-area: img__in13; }
  .img__in14 {
    grid-area: img__in14; }
  .img__in15 {
    grid-area: img__in15; }
  .img__in16 {
    grid-area: img__in16; }
  .img__in17 {
    grid-area: img__in17; }
  .img__in18 {
    grid-area: img__in18; }
  .img__in19 {
    grid-area: img__in19; }
  .img__in20 {
    grid-area: img__in20; }
  .img__in21 {
    grid-area: img__in21; }
  .img__in22 {
    grid-area: img__in22; }
  .img__in23 {
    grid-area: img__in23; }
  .img__in24 {
    grid-area: img__in24; }
  .img__in25 {
    grid-area: img__in25; } }

@media (max-width: 768px) {
  .quienessomos {
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 0.7em;
    padding: 0vh 5vh 1vh 5vh; }
  .quiensoy {
    display: none; }
  .gridinicio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "img__in2 img__in3 img__in4" "img__in6 img__in7 img__in8" "img__in10 img__in11 img__in12" "img__in14 img__in15 img__in16" "img__in18 img__in19 img__in20" "img__in22 img__in23 img__in24" ". . ."; }
  .img__in2 {
    grid-area: img__in2; }
  .img__in3 {
    grid-area: img__in3; }
  .img__in4 {
    grid-area: img__in4; }
  .img__in6 {
    grid-area: img__in6; }
  .img__in7 {
    grid-area: img__in7; }
  .img__in8 {
    grid-area: img__in8; }
  .img__in10 {
    grid-area: img__in10; }
  .img__in11 {
    grid-area: img__in11; }
  .img__in12 {
    grid-area: img__in12; }
  .img__in14 {
    grid-area: img__in14; }
  .img__in15 {
    grid-area: img__in15; }
  .img__in16 {
    grid-area: img__in16; }
  .img__in18 {
    grid-area: img__in18; }
  .img__in19 {
    grid-area: img__in19; }
  .img__in20 {
    grid-area: img__in20; }
  .img__in22 {
    grid-area: img__in22; }
  .img__in23 {
    grid-area: img__in23; }
  .img__in24 {
    grid-area: img__in24; } }

.bodyTut {
  background-image: url(../img/tutoriales.jpg);
  background-position: center; }

.indiceTut {
  display: grid;
  grid-template-columns: 20vw 40vw 20vw;
  grid-template-rows: 15em;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center; }

.videos {
  display: grid;
  grid-template-columns: repeat(2, 40em);
  grid-template-rows: repeat(11, 26em);
  column-gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center; }
  .videos section {
    padding: 50px; }
  .videos a {
    color: white;
    text-decoration: none; }
    .videos a:hover {
      color: rgba(248, 248, 255, 0.801); }
    .videos a:visited {
      color: #2b2b2b; }
  .videos .video {
    width: 100%;
    aspect-ratio: 16/9; }

/* RESPONSIVE */
@media (max-width: 1300px) {
  .video {
    width: 95%; }
  .videos {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "celda1" "celda2" "celda3" "celda4" "celda5" "celda6" "celda7" "celda8" "celda9" "celda10" "celda11" "celda12" "celda13" "celda14" "celda15"; }
  .celda1 {
    grid-area: celda1; }
  .celda2 {
    grid-area: celda2; }
  .celda3 {
    grid-area: celda3; }
  .celda4 {
    grid-area: celda4; }
  .celda5 {
    grid-area: celda5; }
  .celda6 {
    grid-area: celda6; }
  .celda7 {
    grid-area: celda7; }
  .celda8 {
    grid-area: celda8; }
  .celda9 {
    grid-area: celda9; }
  .celda10 {
    grid-area: celda10; }
  .celda11 {
    grid-area: celda11; }
  .celda12 {
    grid-area: celda12; }
  .celda13 {
    grid-area: celda13; }
  .celda14 {
    grid-area: celda14; }
  .celda15 {
    grid-area: celda15; } }

@media (max-width: 1024px) {
  .indiceTut {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "imgtut1 parrafotut";
    max-width: 80%;
    margin: auto; }
  .imgtut1 {
    grid-area: imgtut1; }
  .parrafotut {
    grid-area: parrafotut; }
  .fun {
    display: none; }
  .videos section {
    padding: 35px; }
  .imgtut2 {
    display: none; } }

@media (max-width: 768px) {
  .parrafotut {
    font-size: 0.7em; }
  .indiceTut {
    display: none; }
  .parrafotut {
    display: none; }
  .imgtut1 {
    display: none; }
  .videos section {
    padding: 20px; } }

@media (max-width: 425px) {
  h5 {
    font-size: 1rem; } }

.bodySuc {
  background-image: url(../img/sucursales.jpg); }

.local__info {
  max-width: calc(100% - 2em);
  aspect-ratio: 1;
  font-family: "nasalization", sans-serif;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
  border-radius: 0.5rem;
  border-color: white; }

.row {
  align-items: center; }

@media (max-width: 575px) {
  .local__info {
    width: 200px;
    display: inline; }
  .subtitulo {
    margin-top: 30px;
    margin-bottom: -30px; } }

.bodyCont {
  background-image: url(../img/contacto.jpg); }
  .bodyCont .form input {
    color: #ee8967; }

.smformulario {
  display: none; }

.formularios {
  display: grid;
  grid-template-columns: 25em 25em 25em;
  grid-template-rows: 15em 45em;
  justify-content: center;
  justify-items: center; }

.imgcontacto {
  width: 15em;
  text-align: center; }

.form {
  width: 70%;
  margin: 1rem auto;
  padding: 2rem 1rem;
  text-align: center; }

.form__label {
  font-size: 1.5rem;
  text-align: center;
  display: inline-block;
  width: 60%; }

.form__input, .form__textarea {
  width: 80%;
  margin: 0.6rem;
  padding: 0.6rem;
  text-align: center;
  font-family: "nasalization", sans-serif;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
  border-radius: 0.5rem;
  border-color: white; }

.form__textarea {
  height: 5rem;
  resize: none; }

.form__input--submit {
  cursor: pointer; }

@media (max-width: 1200px) {
  .formularios {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "clichere1 formulario1_1" "clichere2 formulario1_2" "clichere3 formulario1_3"; }
  .clichere1 {
    grid-area: clichere1; }
  .clichere2 {
    grid-area: clichere2; }
  .clichere3 {
    grid-area: clichere3; }
  .formulario1_1 {
    grid-area: formulario1_1; }
  .formulario1_2 {
    grid-area: formulario1_2; }
  .formulario1_3 {
    grid-area: formulario1_3; }
  .clichere {
    align-self: center; } }

@media (max-width: 700px) {
  .subtitulocon {
    margin-top: -30px;
    margin-bottom: 30px; }
  .iniciolargo {
    display: none; }
  .inicioabreviado {
    display: unset; }
  .fas {
    font-size: 2em; }
  .smtitulo {
    display: none; }
  .formularios {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "clichere1" "clichere2" "clichere3";
    text-align: center; }
  .clichere1 {
    grid-area: clichere1; }
  .clichere2 {
    grid-area: clichere2; }
  .clichere3 {
    grid-area: clichere3; }
  .formulario1 {
    display: none; }
  .smformulario {
    display: inline;
    text-decoration: none;
    color: white;
    text-decoration: none; }
    .smformulario:hover {
      color: rgba(248, 248, 255, 0.801); } }

/* universal */
* {
  margin: 0%;
  padding: 0%; }

body {
  font-family: "nasalization", sans-serif;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
  border-radius: 0.5rem;
  border-color: white;
  color: white;
  text-align: center; }

.titulo {
  font-size: 2.4em;
  text-align: center; }

.subtitulo {
  font-size: 1.5em;
  text-align: center; }

.hovers:hover, .indiceTut:hover, .local__info:hover, .subtitulo:hover {
  cursor: pointer;
  color: rgba(248, 248, 255, 0.801); }

.bodyIndex {
  background-color: #810082; }

.bodyTut {
  background-color: #63286b; }

.bodySuc {
  background-color: #348924; }

.bodyCont {
  background-color: #ee8967; }
