// 3- Variables (van siempre arriba de todo)
@import './variables/colores';
@import './variables/fuentes';
@import './variables/tamanios';
// 2- Importaciones / Particiones
// Utilidades
@import './utilidades/header';
@import './utilidades/footer';
// Secciones
@import './secciones/index';
@import './secciones/tutoriales';
@import './secciones/sucursales';
@import './secciones/contacto';

/* universal */

*{
    margin: 0%;
    padding: 0%; }
body{
    font-family: "nasalization", sans-serif;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial; }
.titulo{
    font-size: 2.4em;
    text-align: center;
 }
.subtitulo{
    font-size: 1.5em;
    text-align: center;
    @extend .hovers;
}
.hovers{
    &:hover{
        cursor: pointer;
        color: $link2hover;
    }
}



