$link: #381b46;
$link2hover: rgba(248, 248, 255, 0.801);
$link2visited: rgb(43, 43, 43);
$bgind: #810082;
$bgtut: #63286b;
$bgsuc: #348924;
$bgcon: #ee8967;

$fondos_paginas: (
    bodyIndex: $bgind,
    bodyTut: $bgtut,
    bodySuc: $bgsuc,
    bodyCont: $bgcon,
)