.bodyCont{
    background-color: $bgcon;
    background-image: url(../img/contacto.jpg); }
.formularios {
    display: grid;
    grid-template-columns: 25em 25em 25em;
    grid-template-rows: 15em 45em;
    justify-content: center;
    justify-items: center; }
.subtitulo{
    text-align: center;
    font-size: 2em; }
.imgcontacto{
    width: 15em;
    text-align: center; }
.form{
    width: 70%;
    margin: 1rem auto;
    padding: 2rem 1rem;
    text-align: center; }
.form__label{
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
    width: 60%; }
.form__input, .form__textarea{
    width: 80%;
    margin: 0.6rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border-color: white;
    text-align: center;
    font-family: "nasalization", sans-serif; }
.form__textarea{
    height: 5rem;
    resize: none; }
.form__input--submit{
    cursor: pointer; }

// responsive
@media (max-width: 1200px) {
    /* contacto */
    .formularios {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
        "clichere1 formulario1_1"
        "clichere2 formulario1_2"
        "clichere3 formulario1_3";}
      .clichere1 { grid-area: clichere1; }
      .clichere2 { grid-area: clichere2; }
      .clichere3 { grid-area: clichere3; }
      .formulario1_1 { grid-area: formulario1_1; }
      .formulario1_2 { grid-area: formulario1_2; }
      .formulario1_3 { grid-area: formulario1_3; }
      .clichere{
          align-self: center;
      }
}

@media (max-width: 700px) {
    /* contacto */
    .iniciolargo{
        display: none;
    }
    .inicioabreviado{
        display: unset;
    }
    .fas{
        font-size: 2em;
    }
    .formularios {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "clichere1"
          "clichere2"
          "clichere3";
        text-align: center;
      }
      .clichere1 { grid-area: clichere1; }
      .clichere2 { grid-area: clichere2; }
      .clichere3 { grid-area: clichere3; }

    .formulario1{
        display: none;
    }
    /* agregar que se muestre el formulario al tocar la img o un boton de clic here */
}