.bodySuc{
    background-image: url(../img/sucursales.jpg); }
.local__info {
    max-width: calc(100% - 2em);
    aspect-ratio: 1; 
    @extend .hovers;
    @include kitdemarca;
}
.row{
    align-items: center;
}
@media (max-width: 575px) {
    .local__info {
        width: 200px;
        display: inline;
    }
    .subtitulo{
        margin-top: 30px;
        margin-bottom: -30px;
    }
}