.bodySuc{
    background-color: $bgsuc;
    background-image: url(../img/sucursales.jpg); }
.local__info {
    max-width: calc(100% - 2em);
    aspect-ratio: 1; 
    @extend .hovers;
    @include kitdemarca;
}