.bodyTut{
    background-color: $bgtut;
    background-image: url(../img/tutoriales.jpg);
    background-position: center; }
.indiceTut{
    display: grid;
    grid-template-columns: 20vw 40vw 20vw;
    grid-template-rows: 15em;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center; }
.videos{
    display: grid;
    grid-template-columns: repeat(2, 40em);
    grid-template-rows: repeat(12, 26em);
    column-gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center; 
        section{
           padding: 50px; }
        a{
        color: white;
        text-decoration: none;
            &:hover{
                color: $link2hover; } 
            &:visited{
                color: $link2visited; } } }
.video{
    width: 100%;
    aspect-ratio: 16/9; }

/* RESPONSIVE */

@media (max-width: 1300px) {
    .video{
        width: 80%;
    }
    .videos {
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "celda1"
          "celda2"
          "celda3"
          "celda4"
          "celda5"
          "celda6"
          "celda7"
          "celda8"
          "celda9"
          "celda10"
          "celda11"
          "celda12"
          "celda13"
          "celda14"
          "celda15";
      }
      .celda1 { grid-area: celda1; }
      .celda2 { grid-area: celda2; }
      .celda3 { grid-area: celda3; }
      .celda4 { grid-area: celda4; }
      .celda5 { grid-area: celda5; }
      .celda6 { grid-area: celda6; }
      .celda7 { grid-area: celda7; }
      .celda8 { grid-area: celda8; }
      .celda9 { grid-area: celda9; }
      .celda10 { grid-area: celda10; }
      .celda11 { grid-area: celda11; }
      .celda12 { grid-area: celda12; }
      .celda13 { grid-area: celda13; }
      .celda14 { grid-area: celda14; }
      .celda15 { grid-area: celda15; } }


      @media (max-width: 1000px) {
        .indiceTut {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 0px 0px;
            grid-template-areas:
              "imgtut1 parrafotut";
            max-width: 80%;
            margin: auto;
          }
        .imgtut1 { grid-area: imgtut1; }
        .fun{
            display: none;
        }
        .parrafotut { grid-area: parrafotut; }
        .imgtut2{
            display: none;
        }
        .videos {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
              "celda1"
              "celda2"
              "celda3"
              "celda4"
              "celda5"
              "celda6"
              "celda7"
              "celda8"
              "celda9"
              "celda10"
              "celda11"
              "celda12"
              "celda13"
              "celda14"
              "celda15";
          }
          .celda1 { grid-area: celda1; }
          .celda2 { grid-area: celda2; }
          .celda3 { grid-area: celda3; }
          .celda4 { grid-area: celda4; }
          .celda5 { grid-area: celda5; }
          .celda6 { grid-area: celda6; }
          .celda7 { grid-area: celda7; }
          .celda8 { grid-area: celda8; }
          .celda9 { grid-area: celda9; }
          .celda10 { grid-area: celda10; }
          .celda11 { grid-area: celda11; }
          .celda12 { grid-area: celda12; }
          .celda13 { grid-area: celda13; }
          .celda14 { grid-area: celda14; }
          .celda15 { grid-area: celda15; } }


@media (max-width: 500px) {
    .parrafotut{
        font-size: 0.7em;
    }
// new
    .indiceTut {
        display: none;  } 
    .parrafotut{
        display: none;
    }
    .imgtut1{
        display: none;
    }
    
    
    }