header{
    position: sticky;
    top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
    backdrop-filter: blur(4px); }
    .iconoactivo{
        color: $link;
        
    }

.inicioabreviado{
    display: none; }

nav ul{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
        li{
            display: inline-block;
            margin: 0.5rem;
            font-size: 1.2rem; }
            a {
                text-decoration: none;
                color: white;
                transition: 0.9s;
                    &:hover{
                        color: $link; } 
                    &::after{
                        content: "";
                        background-color: $link;
                        width: 100%;
                        height: 3px;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform 0.7s; } } }
.pages{
    transition: 0.9s; }


    @media (max-width: 480px) {
        header{
            justify-content: center;
        }
        .logo{
            display: none;
        }
        .inicioabreviado{
            text-align: center;
        } 
        nav ul{
            position: relative;
        }
        .logogrande{
            display: flex;
        }
        .iniciochico{
            display: none;
        }
        .inicio{
            display: flex;
        }
        }
    